/* ==========================================================================
   GLOBAL TYPOGRAPHY & SPACING
   ========================================================================== */

/* overwrite highlight colors */
blockquote {
  border-left: 0.2em solid $color-brand-primary;
}

.pagination li a.current,
.pagination li a.current.disabled {
  color: #fff;
  background: #7a46eb;
}

/* Global link hover color */
a:hover,
a:focus {
  color: $color-brand-primary-soft !important;
}


/* spacing for major sections */
.page__content h2 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.page__content h3 {
  margin-top: 1.75rem;
  margin-bottom: 0.75rem;
}

/* slightly more breathing room between paragraphs */
.page__content p {
  margin-bottom: 0.8rem;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  margin: 1.5em 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}