/* custom type scale overrides */
$type-size-1: 2.441em;
$type-size-2: 1.953em;
$type-size-3: 1.563em;
$type-size-4: 1.25em;
$type-size-5: 1.1em;
$type-size-6: 0.8em;
$type-size-7: 0.8em;
$type-size-8: 0.625em;

/* custom headline scale overrides */
$h-size-1: 1.563em;
$h-size-2: 1.25em;
$h-size-3: 1.125em;
$h-size-4: 1.0625em;
$h-size-5: 1.03125em;
$h-size-6: 1em;
